@import 'tailwindcss';

:root {
  --background: #ffffffda;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #ffffff;
  --color-secondary: #00ade9;
  --color-secondary-500: #00ade9;
  --color-secondary-700: #00688c;
  --color-secondary-900: #00232f;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
